body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.flex {
    display: flex;
    
    margin-bottom: 10px;
}

.title {
    flex: 2;
    background-color: violet;
     padding: 20px;
    border-radius: 10px;
}

.plot {
    flex: 4;
    padding: 25px;

}
.poster {
    flex: 2;
      
}
img {
    border-radius: 10px;
}
button{
    font-size: medium;
}