/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 12-mar-2024, 13.16.58
    Author     : PC-03
*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url('https://img.pixers.pics/pho_wat(s3:700/FO/28/62/42/88/700_FO28624288_24ba963d18c62b58934b2354e4ccc4fa.jpg,700,700,cms:2018/10/5bd1b6b8d04b8_220x50-watermark.png,over,480,650,jpg)/poster-brucia-fiamma-di-fuoco-vettore-sfondo.jpg.jpg'); /* per un'immagine di sfondo in movimento */

}
.flex {
    display: flex;
    
    margin-bottom: 10px;
}

.title {
    flex: 2;
    background-color: violet;
     padding: 20px;
    border-radius: 10px;
}

.plot {
    flex: 4;
    padding: 25px;

}
.poster {
    flex: 2;
      
}
img {
    border-radius: 10px;
}
button{
    font-size: medium;
}

.youtube {
    background-color: red;
    border: 0px;
    color: white;
    padding: 0.5rem;
}
